<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lven.immooc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--清单引用配置测试-->

        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="${IS_DEBUG}" />

        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="${VERSION_NAME}" />


    </application>

</manifest>